@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --corfundocal: rgb(68, 68, 68);
    --cor1: rgb(34, 34, 34);
    --cor2: ;
    --cor3: ;
}  

body{
background-image: linear-gradient(-250deg,  rgb(34, 0, 48), rgb(59, 3, 82), rgb(109, 1, 103));
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
#calc{
    background-color: var(--corfundocal);
}
#operations{
    text-align: right;
    background-color: var(--cor1);
    color: white;
    padding: 1em;
    max-width:200px;
    margin-bottom: 1px;
}
#previous-operation{
    overflow-wrap: break-word;
}
#current-operation{
    overflow-wrap: break-word;
}
#buttons-container{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button{
    background-color: var(--cor1);
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    margin: 1px 1px 1px 2px;
}
#buttons-container button:hover{
    background-color: var(--corfundocal);
}
#igual{
    background-color:  rgb(47, 47, 53);
}