@charset "UTF-8";
:root{
    --corfundocal: rgb(22, 22, 22);
    --cor1: rgb(17, 158, 17);
    --cor2: ;
    --cor3: ;  
}
body{
    background-color: var(--corfundocal);
    color: white;
}
#corpo{
    text-align: left;
    margin: 0% 158px;
}
#title{
    text-align: center;
    font-size: 250%;
    color: var(--cor1);
}
h2{
    font-size:112%;
}
.input{
    margin-top: -10px;
    font-size: large;
    width: 400px;
    height: 35px;
    text-align: right;
    color: white;
    background-color: var(--corfundocal);
}
#input1{
    margin-top: -10px;
}
.btn{
    width: 80px;
    height: 43px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
:hover > .btn{
    border-color: rgb(29, 29, 29);
    border-width: 3px;
}