@charset "UTF-8";
:root{
    --corfundocal: rgb(22, 22, 22);
    --cor1: rgb(17, 158, 17);
    --cor2: ;
    --cor3: ;  
}
body{
    background-color: var(--corfundocal);
    color: white;
}
#corpo{
    text-align: left;
    margin: 0% 300px;
}
#title{
    text-align: center;
    color: var(--cor1);
}
h2{
    font-size: small;
}
#input2{
    margin-top: -10px;
}
.input{
    width: 300px;
    text-align: right;
}
.btn{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
:hover > .btn{
    border-color: rgb(29, 29, 29);
}
#inserir{
    color: white;
    background-color: var(--corfundocal);
}
#resultado{
    color: white;
    background-color: var(--corfundocal);
}
#part1{
    margin-top: 5%;
}